In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# define total players and create a Data Frame
total_players = [len(purchase_data['SN'].value_counts())]
total_num_players = {'Total Players': total_players}
total_num_players_df = pd.DataFrame(total_num_players)
total_num_players_df

   Total Players
0            576

In [4]:
# define fields and create a Data Frame with appropriate columns names
# Fields
unique_items = purchase_data['Item Name'].nunique()     # Tried this a few ways, I like this one, it's short
average_price = round(purchase_data['Price'].mean(), 2)
total_num_purchases = len(purchase_data['Purchase ID'])
total_revenue = purchase_data['Price'].sum()
# print(unique_items, average_price, total_num_purchases, total_revenue)

# Data Frame
item_purchases_df = pd.DataFrame({'# of Unique Items':[unique_items], 'Average Price': [average_price], 
                                        'Total # of Purchases': [total_num_purchases], 'Total Revenue': [total_revenue]
                                        })

# formatting
item_purchases_df["Average Price"] = item_purchases_df["Average Price"].map('${:,.2f}'.format)
item_purchases_df["Total Revenue"] = item_purchases_df["Total Revenue"].map('${:,.2f}'.format)
item_purchases_df

   # of Unique Items Average Price  Total # of Purchases Total Revenue
0                179         $3.05                   780     $2,379.77

In [7]:
# Group by gender and calculate percentage of each group
# Grouping
allcount = purchase_data['SN'].nunique()

males_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
males = males_df['SN'].nunique()
males_percent = round(((males/allcount)*100), 2)

females_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
females = females_df['SN'].nunique()
females_percent = round(((females/allcount)*100), 2)

others_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
others = others_df['SN'].nunique()
others_percent = round(((others/allcount)*100), 2)
# print(allcount, males, females, others, males_percent, females_percent, others_percent)
# type(allcount)     debugging

# Data Frame
gender_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 
                          'Total': [males, females, others], 
                          'Percentage': [males_percent, females_percent, others_percent]
                         })
# formatting
gender_df['Percentage'] = gender_df['Percentage'].map("{:,.2f}%".format)
gender_df

                  Gender  Total Percentage
0                   Male    484     84.03%
1                 Female     81     14.06%
2  Other / Non-Disclosed     11      1.91%

In [8]:
allcount

576

In [9]:
total_players

[576]

In [13]:
# Group by gender and calculate percentage of each group
# Grouping
hero_gender = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
gender_purch = hero_gender.groupby(['Gender'])

# Data Frame
gen_count_sum = pd.DataFrame({"Total": gender_purch["Gender"].count(), 
                              "Percentage": gender_purch["Gender"].count()/total_players*100
                             })
# formatting
gen_count_sum['Percentage'] = gen_count_sum['Percentage'].map("{:,.2f}%".format)
gen_count_sum

                       Total Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%

In [12]:
# Data Frame
gen_pur_df = pd.DataFrame({'Purchase Count': gender_purch["Price"].count(), 
                           'Average Price': gender_purch["Price"].mean(), 
                           'Total Purchase Value': gender_purch["Price"].sum(), 
                           'Average Purchase Total per Person': gender_purch["Price"].sum()/gen_count_sum["Total"]
                          })
# formatting
gen_pur_df['Average Price'] = gen_pur_df['Average Price'].map("${:.2f}".format)
gen_pur_df['Total Purchase Value'] = gen_pur_df['Total Purchase Value'].map("${:,.2f}".format)
gen_pur_df['Average Purchase Total per Person'] = gen_pur_df['Average Purchase Total per Person'].map("${:.2f}".format)
gen_pur_df

,Purchase Count,Average Price,Total Purchase Value,Average Purchase Total per Person
Gender,,,,
Female,81,$3.17,$256.43,$3.17
Male,484,$3.05,"$1,474.70",$3.05
Other / Non-Disclosed,11,$3.41,$37.52,$3.41